
@{
    ViewBag.Title = "Update";
}

<div class="container">

    <div class="row">
        @Html.Action("PartialFiltre", "Home")

        <!--İlan Listesi-->
        <br />
        <div class=" col-md-9">
            <h3>Bilgileriniz Güncellenmiştir..</h3>
        </div>



    </div>
</div>

